<!-- views/award.ejs -->
<div class="award-wrapper">
    <hr class="award-divider">
    <div class="award-input-section">
      <div class="mc-ft_awards">
        <div class="mc-ft_awards-list">
          <div class="mc-ft_awards-item">
            <img height="40" src="https://ak-d.tripcdn.com/images/05E4v12000cjd4sy511F3_R_40_40.png_.webp" alt="Contact Center of the year 2022">
            <div class="mc-ft_awards-words">Contact Center of the year 2022</div>
          </div>
          <div class="mc-ft_awards-item">
            <img height="40" src="https://ak-d.tripcdn.com/images/05E2r12000cjd4pns56D7.png" alt="Google Material Design Awards 2019">
            <div class="mc-ft_awards-words">Google Material Design Awards 2019</div>
          </div>
          <div class="mc-ft_awards-prev fi fi-arrow-left u-hide"></div>
          <div class="mc-ft_awards-next fi fi-arrow-right u-hide"></div>
        </div>
      </div>
    </div>
  </div>
  