<!-- views/brand.ejs -->
<div class="brand-wrapper">
    <div class="brand-divider"></div>
    <div class="mc-ft_brand">
      <img height="32" alt="trip.com group" src="https://ak-d.tripcdn.com/images/05E1112000cx47zr7DBBA.png">
      <div class="mc-ft_brand-list">
        <img height="22" alt="Skyscanner" src="https://ak-d.tripcdn.com/images/wj0t1800000156kx536A0.png">
        <img height="22" alt="Trip" src="https://ak-d.tripcdn.com/images/0AS5z1200096fxqjc2462.png">
      </div>
      <div class="mc-ft_brand-title">
        Trip-day.com is part of DiveXT Co., Ltd, one of the world's leading providers of travel services.
      </div>
    </div>
  </div>
  