<!-- views/clearfix.ejs -->
<div class="clearfix-wrapper">
    <div class="clearfix-input-section">
        <div class="column">
            <div class="title">Contact Us</div>
            <ul class="links">
                <li><a href="/customer-service">Customer Support</a></li>
                <li><a href="/about/service-gurantee">Service Guarantee</a></li>
                <li><a href="/about/more-service-info">More Service Info</a></li>
            </ul>
        </div>
        <div class="column">
            <div class="title">About</div>
            <ul class="links">
                <li><a href="/about/terms">Terms & Conditions</a></li>
                <li><a href="/about/privacy-policy">Privacy Statement</a></li>                
            </ul>
        </div>
        
        <div class="column fourth-column">
            <div class="section">
                <div class="title">Payment Methods</div>
                <div class="payment-logos">
                    <img class="clearfix-pay-logo" src="/images/VisaCard.webp" alt="Payment Method 1">    
                    <img class="clearfix-pay-logo" src="/images/MasterCard.webp" alt="Payment Method 2">
                    <img class="clearfix-pay-logo" src="/images/Pay.webp" alt="Payment Method 3">
                    <img class="clearfix-pay-logo" src="/images/UnionPay.png" alt="Payment Method 4">
                    <img class="clearfix-pay-logo" src="/images/JCB.webp" alt="Payment Method 5">
                    <img class="clearfix-pay-logo" src="/images/Paypal.webp" alt="Payment Method 6">
                </div>
            </div>
            <div class="section">
                <div class="title">Our Partners</div>
                <div class="partners-logos">
                    <img class="clearfix-partners-logo" src="/images/Google.webp" alt="Partner 1">
                    <img class="clearfix-partners-logo" src="/images/TripAdvisor.webp" alt="Partner 2">
                </div>
            </div>
        </div>
    </div>
</div>
