<!-- views/dbanner.ejs -->
<link rel="stylesheet" href="/styles/dbanner.css">

<div class="dbanner-wrapper">  
  <div class="d-banner-image-wrap">
    <div class="dbanner-backgroundImageContainer">
      <img src="/images/download_banner.webp" alt="Banner Image" class="dbanner-backgroundImage">
      <div class="dbanner-contents-wrap">
        <div class="dbanner-l-content">
          <div class="l-content-round"></div>
        </div>
        <div class="dbanner-c-content">
          <!-- 중앙 컨텐츠 -->
          <div class="title-row">Attract More Clients and Earn More with Thai Vouchers!</div>
          <div class="slogan-row">
            
          </div>
          <div class="image-description-row">
            <div class="description">Your description here</div>
            
          </div>
        </div>
      </div>    
    </div>   
  </div>
</div>
