<div class="event-banner-container">
  <div class="event-banner left-banner">
    <div class="banner-tab">이벤트</div>
    <img src="/images/banner1.png" alt="Left Event Banner">
    <img src="/images/banner2.png" alt="Left Event Banner 2">
  </div>

  <div class="event-banner right-banner">
    <div class="banner-tab">프로모션</div>
    <img src="/images/banner3.png" alt="Right Event Banner">
    <img src="/images/banner4.png" alt="Right Event Banner 2">
  </div>
</div>