<div class="mc-ft mc-ft_line">
	<div class="l-inner">
		<div class="mc-ft__cnt u-clearfix">
			<div class="mc-ft__links u-clearfix">
				<div class="mc-ft__block">
					<h3 class="mc-ft__block-title">Contact Us</h3>
					<ul class="mc-ft__link-list">
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/pages/support/?locale=en-US&amp;curr=USD">Customer Support</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/pages/customer-service/?locale=en-US&amp;curr=USD">Service Guarantee</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/pages/service/?locale=en-US&amp;curr=USD">More Service Info</a></li>
					</ul>
					<ul class="mc-ft__social">
						<li class="mc-ft__social-item social-icon-facebook"><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Trip/?locale=en-US&amp;curr=USD"><img src="https://ak-d.tripcdn.com/images/05E2j12000cjsihpq0418.png" alt="facebook"></a></li>
						<li class="mc-ft__social-item social-icon-x"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Trip/?locale=en-US&amp;curr=USD"><img src="https://ak-d.tripcdn.com/images/05E5k12000cjsg4e48D91.png" alt="x"></a></li>
						<li class="mc-ft__social-item social-icon-wechat"><a target="_blank" rel="noopener noreferrer" href="https://pages.trip.com/images/social-media/wechatQRCode.png?locale=en-US&amp;curr=USD"><img src="https://ak-d.tripcdn.com/images/05E2w12000cjsg4jrD10B.png" alt="wechat"></a></li>
						<li class="mc-ft__social-item social-icon-youtube"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/c/TripOfficial/?locale=en-US&amp;curr=USD"><img src="https://ak-d.tripcdn.com/images/05E2z12000cjsfsqb7A2B.png" alt="youtube"></a></li>
					</ul>
				</div>
				<div class="mc-ft__block">
					<h3 class="mc-ft__block-title">About</h3>
					<ul class="mc-ft__link-list">
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/pages/about-us/?locale=en-US&amp;curr=USD">About Trip.com</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/newsroom/?locale=en-US&amp;curr=USD">News</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="https://careers.trip.com/?locale=en-US&amp;curr=USD">Careers</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/contents/service-guideline/terms.html?locale=en-US&amp;curr=USD">Terms &amp; Conditions</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/contents/service-guideline/privacy-policy.html?locale=en-US&amp;curr=USD">Privacy Statement</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="https://us.trip.com/pages/treatyforcookie/?locale=en-US&amp;curr=USD">Do Not Sell My Personal Information</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="https://group.trip.com/?locale=en-US&amp;curr=USD">About Trip.com Group</a></li>
					</ul>
				</div>
				<div class="mc-ft__block">
					<h3 class="mc-ft__block-title">Other Services</h3>
					<ul class="mc-ft__link-list">
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="https://investors.trip.com?locale=en-US&amp;curr=USD">Investor Relations</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/customer/loyalty/?locale=en-us&amp;curr=USD">Trip.com Rewards</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="https://www.trip.com/partners/index?locale=en-US&amp;curr=USD">Affiliate Program</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/list-your-property?channel=2&amp;locale=en-US&amp;curr=USD">List Your Property</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/hotels/all-cities/?locale=en-us&amp;curr=USD">All Hotels</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="/m/vbooking/home?locale=en-US&amp;curr=USD">Become a Supplier</a></li>
						<li class="mc-ft__list-item"><a target="_blank" rel="nofollow noopener noreferrer" href="https://src.trip.com/?locale=en-US&amp;curr=USD#/Home">Security</a></li>
					</ul>
				</div>
			</div>
			<div class="mc-ft__others">
				<div class="mc-ft__payment">
					<div class="mc-ft__payment-title">
						Payment Methods
					</div>
					<div class="mc-ft__payment-body">
						<img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E2712000cjsr5ul9716.png" alt="visa">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E0f12000cjsr2f9AAAB.png" alt="master-card">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E0u12000cjsqynr567B.png" alt="apple-pay">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E3y12000cjsr5u9D4F1.png" alt="american-express">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E4f12000cjsqzn4B29D.png" alt="paypal">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E1b12000cjsr2fbBE05.png" alt="alipay-hk">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E3e12000cjsr47e852C.png" alt="discover">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E6a12000cr9d3n66F03.png" alt="google-pay">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E3312000cjsr2ff20BF.png" alt="samsung-pay">
            <img class="mc-ft__payment-icon" src="https://ak-d.tripcdn.com/images/05E4e12000cjsr4st097E.png" alt="jcb">
					</div>
				</div>
				<div class="mc-ft__partner">
					<div class="mc-ft__partner-title">
						Our Partners
					</div>
					<div class="mc-ft__partner-body">
						<div class="mc-ft__partner-item">
							<img class="mc-ft__partner-logo" alt="GOOGLE" src="https://ak-d.tripcdn.com/images/05E6e12000cjso3ro7BEE.png">
						</div>
						<div class="mc-ft__partner-item">
							<img class="mc-ft__partner-logo" alt="TRIPADVISOR" src="https://ak-d.tripcdn.com/images/05E4f12000cjsls8g082A.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mc-ft_awards">
			<div class="mc-ft_awards-list">
				<div class="mc-ft_awards-item">
					<img height="40" src="https://dimg04.tripcdn.com/images/05E0h12000fsdxn0sAFD7.png">
				</div>
				<div class="mc-ft_awards-item">
					<img height="40" src="https://dimg04.tripcdn.com/images/05E4h12000gsn0idy6F90_R_40_40.png_.webp" alt="Contact Center of the year 2024">
					<div class="mc-ft_awards-words">
						Contact Center of the year 2024
					</div>
				</div>
				<div class="mc-ft_awards-prev fi fi-arrow-left u-hide">
				</div>
				<div class="mc-ft_awards-next fi fi-arrow-right u-hide">
				</div>
			</div>
		</div>

		<div class="mc-ft__rights">
			<div class="mc-ft__copyright-txt">
			  Copyright © 2024 Trip-day.com DiveXT Co., Ltd. All rights reserved<br>
        <br>Site Operator: Trip-day.com DiveXT Co., Ltd.
			</div>
		</div>
	</div>
</div>

<!-- views/footer.ejs -->


  