<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trip-day | Hotels, Activities, Flight Reservation | Trip-day.com</title>
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/contents.css">
<link rel="preload" href="https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Bold.9e9e0eb59209311df954413ff4957cbb.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Medium.c01bb95e18e1b0d0137ff80b79b97a38.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Regular.ba9c64b894f5e19551d23b37a07ba0a4.woff2" as="font" crossorigin="anonymous">

</head>










