<div class="section hotel-summary-section">
  <h2>W Bangkok Hotel</h2> <!-- Hotel Name -->
  <div class="hotel-summary-container">
    <div class="hotel-information-row">
      <div class="column-1">
        <div class="address-row">
          <i class="fa fa-map-marker"></i>
          <span class="address-text">106 N S Sathon Rd, Silom, Bang Rak, Bangkok, 10500, Thailand</span>
        </div>
        <div class="detailed-address-row">
          <i class="fa fa-building"></i>
          <span class="detailed-address-text">Located in Bangkok (Bangkok City Centre), W Bangkok is within a 5-minute drive of King Power MahaNakhon and Lumphini Park. This 5-star hotel is 1 mi (1.6 km) from Silom Complex Shopping Mall and 1.8 mi (2.9 km) from MBK Center.
            Relax at the full-service spa, where you can enjoy massages, body treatments, and facials. If you're looking for recreational opportunities, you'll find a nightclub, an outdoor pool, and a sauna. Additional amenities at this hotel include complimentary wireless Internet access, concierge services, and gift shops/newsstands.
            For lunch or dinner, stop by The Kitchen Table, a restaurant that specializes in international cuisine. Dining is also available at the coffee shop/cafe, and 24-hour room service is provided. Relax with your favorite drink at the bar/lounge or the poolside bar. Buffet breakfasts are available daily from 6:30 AM to 10:30 AM for a fee.
            Featured amenities include a 24-hour business center, limo/town car service, and complimentary newspapers in the lobby. Planning an event in Bangkok? This hotel has facilities measuring 4607 square feet (428 square meters), including conference space. Free valet parking is available onsite.
            Make yourself at home in one of the 403 air-conditioned rooms featuring minibars and LED televisions. Complimentary wired Internet access keeps you connected, and cable programming is available for your entertainment. Private bathrooms with separate bathtubs and showers feature jetted bathtubs and rainfall showerheads. Conveniences include phones, as well as laptop-compatible safes and desks.</span>
        </div>
      </div>
      
      <div class="column-2">
        <div class="price-container">
          <s class="delete-price">THB 20,000</s> <!-- 삭제된 가격이 있을 경우 표시 -->
          <span class="real-price">THB 14,525</span>
        </div>
        <div class="price-match">
          <div class="price-match-icon"></div>
          <span class="price-match-text">We Price Match</span>
        </div>
      </div>
      
      <div class="column-3">
        <button class="select-room-btn" type="button">
          <div class="select-room-btn-content">
            <span class="select-room-btn-text">Select Rooms</span>
          </div>
        </button>
      </div>
    </div>
    <div class="hotel-images-row">
      <div class="image-gallery-container">
        <div class="main-image">
          <video class="main-video" src="https://ak-v.tripcdn.com/videos/u002hk124wbxd8qmo8D09.mp4" muted poster="https://ak-d.tripcdn.com/images/220a0f0000007hz756A82_R_960_660_R5_D.jpg"></video>
          <div class="video-controls">
            <div class="play-control">
              <i class="smarticon u-icon u-icon-ic_play"></i>
            </div>
            <div class="time-control">0:00 / 0:26</div>
            <div class="volume-control">
              <i class="smarticon u-icon u-icon-ic_mute"></i>
            </div>
          </div>
          <div class="inspiration-text">
            <i class="smarticon u-icon u-icon-ic_new_countdown_line"></i>Last booked 1 hr ago
          </div>
        </div>
        <div class="small-images">
          <div class="small-image-item"><img src="https://ak-d.tripcdn.com/images/0225h120009ncxk5lAC26_R_339_206_R5_D.jpg" alt="Image 1"></div>
          <div class="small-image-item"><img src="https://ak-d.tripcdn.com/images/0202v120008sab58m9135_R_339_206_R5_D.jpg" alt="Image 2"></div>
          <div class="small-image-item"><img src="https://ak-d.tripcdn.com/images/2203170000011jq0uCD97_R_339_206_R5_D.jpg" alt="Image 3"></div>
          <div class="small-image-item"><img src="https://ak-d.tripcdn.com/images/22051d000001edci67714_R_339_206_R5_D.jpg" alt="Image 4"></div>
          <div class="small-image-item"><img src="https://ak-d.tripcdn.com/images/22030z000000mntfy9358_R_339_206_R5_D.jpg" alt="Image 4"></div>
          <div class="small-image-item more-images">
            <img src="https://ak-d.tripcdn.com/images/220o0z000000mkxgw5970_R_339_206_R5_D.jpg" alt="Image 5">
            <div class="see-all-images">
              <i class="smarticon u-icon u-icon-ic_images"></i><span>See All 148 Photos</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="extra-explains-row">
      <div class="amenities-column">
        <h3 class="section-title">Amenities</h3>
        <div class="amenities-list">
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_sunbath amenities-icon"></i>
            <span class="amenities-desc">Sunbathing area</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_swimming amenities-icon"></i>
            <span class="amenities-desc">Outdoor swimming pool</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_sauna amenities-icon"></i>
            <span class="amenities-desc">Sauna</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_spa amenities-icon"></i>
            <span class="amenities-desc">Spa</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_massage amenities-icon"></i>
            <span class="amenities-desc">Massage room</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_gym amenities-icon"></i>
            <span class="amenities-desc">Fitness room</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_park amenities-icon"></i>
            <span class="amenities-desc">Public Parking</span>
            <span class="amenities-free">Free</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_pickup amenities-icon"></i>
            <span class="amenities-desc">Airport Pick-up Service</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_bar amenities-icon"></i>
            <span class="amenities-desc">Bar</span>
          </span>
          <span class="amenities-item">
            <i class="smarticon u-icon u-icon-ic_new_fa_nightclub amenities-icon"></i>
            <span class="amenities-desc">Nightclub</span>
          </span>
        </div>
        <div class="show-more-amenities">
          <span class="show-more-desc">All Amenities</span>
          <i class="smarticon u-icon u-icon-ic_new_more_line1 show-more-icon"></i>
        </div>
      </div>
      <div class="surroundings-column">
        <h3 class="section-title">Surroundings</h3>
        <div class="surroundings-list">
          <div class="surroundings-item">
            <i class="smarticon u-icon u-icon-ic_new_subway surroundings-icon"></i>
            <div class="surroundings-desc">Metro: Saint Louis</div>
            <div class="surroundings-distance">(250m)</div>
          </div>
          <div class="surroundings-item">
            <i class="smarticon u-icon u-icon-ic_new_subway surroundings-icon"></i>
            <div class="surroundings-desc">Metro: Chong Nonsi</div>
            <div class="surroundings-distance">(460m)</div>
          </div>
          <div class="surroundings-item">
            <i class="smarticon u-icon u-icon-flight surroundings-icon"></i>
            <div class="surroundings-desc">Airport: Don Mueang International Airport</div>
            <div class="surroundings-distance">(26.6 km)</div>
          </div>
        </div>
        <div class="show-more-surroundings">
          <span class="show-more-desc">Map</span>
          <i class="smarticon u-icon u-icon-ic_new_more_line1 show-more-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>