<%- include('head') %>
<head>
 
  <link rel="stylesheet" href="/styles/hotel.css">
</head>

<div id="ibu_hotel_header">
  <div class="V8-listbackground" id="V8-listbackground"></div>
  <div class="mc-hd mc-hd__en-us mc-hd_theme_transparent mc-hd-new_row">
      <div class="mc-hd__inner">
          <div class="mc-hd__flex-con clear-float">
              <div class="mc-hd__logo-con mc-hd__logo-con-en-US mc-hd__logo-layout-0"><a class="mc-hd__logo mc-hd__logo-en-us" href="/?locale=en-US&amp;curr=USD"></a></div>
              <div  class="mc-hd__search-con" style="width: 700px;">
                <div>
                    <div>
                        <div class="gccpoi__TripSearchBox-main">
                            <div class="gccpoi__TripSearchBox-content"><input class="gccpoi__TripSearchBox-input" placeholder="Destination, attraction, hotel, etc" value="" style="text-overflow: ellipsis; white-space: nowrap;"></div>
                            <div class="gccpoi__TripSearchBox-btn">
                                <div class="gccpoi__TripSearchBox-search-icon-wrapper">
                                    <div class="gccpoi__TripSearchBox-btnicon ibu_tripsearch_iconfont gccicon-search" style="color: rgb(255, 255, 255);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mc-hd__func-con" id="ibuHeaderMenu">
                  <div class="mc-hd__func">
                     
                
                      <div class="mc-hd__option">
                          <div class="mc-hd__help"><a title="Customer Support" target="_blank" rel="noreferrer">Customer Support</a><i class="fi fi-bangzhu"></i></div>
                      </div>
                      <div class="mc-hd__option mc-hd__option__locale">
                          <div class="mc-hd__country mc-hd__dropdown-con">
                              <div class="mc-hd__country-cur mc-hd__dropdown-cur"><span class="mc-hd__country-icon"><i class="ic-flagicon flag-en-US" style="background-position: 0px 0px; background-image: url(&quot;https://ak-d.tripcdn.com/images/05E1v12000dgqkhtf5799.png&quot;);"></i></span></div>
                          </div>
                      </div>
                      <div class="mc-hd__option mc-hd__option__currency">
                          <div class="mc-hd__currency mc-hd__dropdown-con">
                              <div class="mc-hd__dropdown-cur mc-hd__currency-cur">USD</div>
                          </div>
                      </div>
                      <div class="mc-hd__account mc-hd__dropdown-con" style="display: block;">
                          <div><a class="mc-hd__account-cur"><span class="mc-hd__avatar"><i class="fi fi-ic_user"></i></span>
                                  <div class="tier-points new-tier-points__level level-1" style="background-image: url(&quot;https://dimg04.tripcdn.com/images/05E2i12000fs3stqjF039.png&quot;);"></div><span data-hj-suppress="true" class="mc-hd__account-username">Trip.com Member</span>
                              </a></div>
                      </div>
                     
                  </div>
            </div>
         
          <div class="mc-hd__nav-con" >
            <ul class="mc-hd__nav">
                <li class="mc-hd__nav-item"><a id="header_action_nav_hotels" class="mc-hd__nav-lnk" href="/search/" title="Hotels">Hotels</a>
                  <ul class="mc-hd__nav-item-sub">
                    <li><a id="header_action_nav_Car Rentals" href="/carhire/?channelid=14409&amp;locale=en-US&amp;curr=USD" class="mc-hd__sub-nav-lnk">Car Rentals</a></li>
                    <li><a id="header_action_nav_Airport Transfers" href="/airport-transfers/?locale=en-US&amp;curr=USD" class="mc-hd__sub-nav-lnk">Airport Transfers</a></li>
                </ul></li>
                
                <li class="mc-hd__nav-item"><a id="header_action_nav_flights" class="mc-hd__nav-lnk" href="/flights/?locale=en-US&amp;curr=USD" title="Flights">Golf</a></li>
                <li class="mc-hd__nav-item"><a id="header_action_nav_trains" class="mc-hd__nav-lnk" href="/trains/?locale=en-US&amp;curr=USD" title="Trains">Hotels&Golf</a></li>
                <li class="mc-hd__nav-item mc-hd__nav-item-wth-sub"><a id="header_action_nav_cars" class="mc-hd__nav-lnk" title="Cars">Flights</a></li>
                <li class="mc-hd__nav-item mc-hd__nav-item-wth-sub"><a id="header_action_nav_ttd" class="mc-hd__nav-lnk" href="/things-to-do/ttd-home/?ctm_ref=vactang_page_23810&amp;locale=en-US&amp;curr=USD" title="Attractions &amp; Tours">Contacts</a>
                    <ul class="mc-hd__nav-item-sub">
                        <li><a id="header_action_nav_Attractions &amp; Tours" href="/things-to-do/ttd-home/?ctm_ref=vactang_page_23810&amp;locale=en-US&amp;curr=USD" class="mc-hd__sub-nav-lnk">Attractions &amp; Tours</a></li>
                        <li><a id="header_action_nav_eSIM &amp; SIM" href="/sale/w/10229/esim.html?locale=en-US&amp;curr=USD" class="mc-hd__sub-nav-lnk">eSIM &amp; SIM</a></li>
                    </ul>
                </li>
               
            </ul>
          </div>
      </div>
  </div>
  <script></script>
</div>