<div class="section location-information-section">
  <h2>Location Information</h2>
  <div class="hotelLocationNew_hotelLocation__Z5I2x">
    <h2 class="hotelLocationNew_hotelLocation-title__6XFu8">Location</h2>
    <div class="hotelLocationNew_hotelLocation-list__78XMt">
      <!-- Transport, Shopping, Landmarks, and Dining sections -->
    </div>
    <div class="hotelLocationNew_hotelLocation-showMore__hXnje">
      <span class="hotelLocationNew_hotelLocation-showMore_desc__z_WI4">Show on Map</span>
      <i class="smarticon u-icon u-icon-a-dropdowncircle_right_outlined hotelLocationNew_hotelLocation-showMore_icon__KJfqF"></i>
    </div>
  </div>
</div>