<div class="section room-detail-categories-section">
  <div class="room-detail-categories-row">
    <div class="row-1">
      <button class="category-button">Rooms</button>
      <button class="category-button">Services & Amenities</button>
      <button class="category-button">Policies</button>
    </div>
    <div class="separator"></div>
    <div class="row-2">
      <div class="category-item">Free Cancellation (8)</div>
      <div class="category-item">2 Beds (2)</div>
      <div class="category-item">Prepay Online (4)</div>
      <div class="category-item">Instant Confirmation (8)</div>
      <div class="category-item">Pay at Hotel (4)</div>
    </div>
  </div>
</div>