<div class="section room-lists-section">
  <div class="room-lists-row row-1">
    <span class="room-type-text">Room Type: Deluxe Room</span>
  </div>
  <div class="room-lists-row row-2">
    <div class="room-pic-container">
      <div class="baseRoom_baseRoom__Sox8k">
        <div class="baseRoom_baseRoom-imgBox__UrQf1">
          <div class="baseRoom_baseRoom-multiRoomImgBox__dK2Jh">
            <div class="baseRoom_lazy_image_box__6LdCP">
              <img class="baseRoom_baseRoom-singleRoomImgBox_bigImg__umGgI" src="https://ak-d.tripcdn.com/images/220a170000011jbc2E88B_R_400_200_R5.webp" alt="Room Image" loading="lazy">
            </div>
            <div class="baseRoom_baseRoom-singleRoomImgBox_smallImgBox__bs5A9">
              <div class="baseRoom_lazy_image_box__6LdCP">
                <img class="baseRoom_baseRoom-singleRoomImgBox_smallImg__U2iVM" src="https://ak-d.tripcdn.com/images/220t170000011i1h54831_R_200_100_R5.webp" alt="Room Image" loading="lazy">
              </div>
              <div class="baseRoom_lazy_image_box__6LdCP">
                <img class="baseRoom_baseRoom-singleRoomImgBox_smallImg__U2iVM" src="https://ak-d.tripcdn.com/images/0226812000aanihslA50C_R_200_100_R5.webp" alt="Room Image" loading="lazy">
              </div>
              <div class="baseRoom_baseRoom-imgLegend__aK_FM">
                <i class="smarticon u-icon u-icon-ic_images baseRoom_baseRoom-imgLegend_icon__apD8i"></i>6
              </div>
            </div>
          </div>
        </div>
        <div class="baseRoom_baseRoom-bedsInfo__LNa7O">
          <div class="baseRoom_baseRoom-bedsInfo_iconList__CuyUc">
            <i class="smarticon u-icon u-icon-ic_new_double_bed baseRoom_baseRoom-bedsInfo_iconList_icon__hU7_o"></i>
          </div>
          <span class="baseRoom_baseRoom-bedsInfo_title__7IP0H">1 king bed</span>
        </div>
        <div class="baseRoom_baseRoom-facility__WcsQp">
          <div class="baseRoom_baseRoom-facility_hightLightItem__GD0E3">
            <i class="smarticon u-icon u-icon-window baseRoom_baseRoom-facility_icon__iMD11"></i><span class="baseRoom_baseRoom-facility_title__4PawP">City view</span>
          </div>
          <div class="baseRoom_baseRoom-facility_item__Lwes6">
            <i class="smarticon u-icon u-icon-ic_new_fa_no_smoking baseRoom_baseRoom-facility_icon__iMD11"></i><span class="baseRoom_baseRoom-facility_title__4PawP">Non-smoking</span>
          </div>
          <div class="baseRoom_baseRoom-facility_item__Lwes6">
            <i class="smarticon u-icon u-icon-ic_roomspace baseRoom_baseRoom-facility_icon__iMD11"></i><span class="baseRoom_baseRoom-facility_title__4PawP">64㎡ | Floor: 25-30</span>
          </div>
          <div class="baseRoom_baseRoom-facility_hightLightItem__GD0E3">
            <i class="smarticon u-icon u-icon-ic_new_fa_wifi baseRoom_baseRoom-facility_icon__iMD11"></i><span class="baseRoom_baseRoom-facility_title__4PawP">Free Wi-Fi</span>
          </div>
          <div class="baseRoom_baseRoom-facility_item__Lwes6">
            <i class="smarticon u-icon u-icon-a-airconditioning baseRoom_baseRoom-facility_icon__iMD11"></i><span class="baseRoom_baseRoom-facility_title__4PawP">Air conditioning</span>
          </div>
          <div class="baseRoom_baseRoom-facility_item__Lwes6">
            <i class="smarticon u-icon u-icon-ic_new_fa_shower baseRoom_baseRoom-facility_icon__iMD11"></i><span class="baseRoom_baseRoom-facility_title__4PawP">Private bathroom</span>
          </div>
        </div>
        <div class="baseRoom_baseRoom-roomAmenities__KbLuz">Room Details</div>
      </div>
    </div>
    <div class="room-info-table">
      <table>
        <tr>
          <td>Your Choices</td>
          <td>Sleeps</td>
          <td>Today's Price</td>
        </tr>
        <tr>
          <td>
            <div class="saleRoom_saleRoomItemBox-reservationNotesInfoBox__13uYU">
              <div class="saleRoom_saleRoomItemBox-reservationNotesInfo__1Z8tM">
                <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_premiumInfo__80Cez">
                  Best price with 
                  <span class="saleRoomItemBox-reservationNotesInfo_premiumTitle" style="font-weight: bold;">free cancellation</span>
                </div>
                <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomBox__oT10J">
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem__7KYPI">
                    <div>
                      <i class="smarticon u-icon u-icon-ic_new_nonbreakfast saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Breakfast for THB 942.00 (optional)
                    </div>
                    <i class="smarticon u-icon u-icon-ic_new_question_line saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_layerButton__aEsZh"></i>
                  </div>
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomHightLightItem__bF_tA">
                    <div>
                      <i class="smarticon u-icon u-icon-ic_new_freecancellation saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Free Cancellation<span class="" style="color: rgb(15, 41, 77);"> before 23:59, Dec 19</span>
                    </div>
                  </div>
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomHightLightItem__bF_tA">
                    <div>
                      <i class="smarticon u-icon u-icon-ic_new_quick saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Instant Confirmation
                    </div>
                  </div>
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem__7KYPI">
                    <div>
                      <i class="smarticon u-icon u-icon-a-ic_payathome saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Pay at hotel
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>Sleeps 2</td>
          <td>
            <div class="saleRoom_saleRoomItemBox-priceInfoBox__YKNbL">
              <div class="priceInfo_saleRoomItemBox-priceInfoBox-mainContent__nmfMr">
                <div class="priceInfo_saleRoomItemBox-priceInfoBox-leftContent">
                  <div class="priceInfo_saleRoomItemBox-priceAndPromotion__UA46M">
                    <div class="priceInfo_saleRoomItemBox-priceBox__YdzUO">
                      <div class="priceInfo_saleRoomItemBox-priceBox-displayPrice__niIBD">THB 27,000</div>
                    </div>
                    <div class="priceInfo_saleRoomItemBox-priceBox-priceExplain__zF3oi">
                      <div>Total price: THB 127,116</div>
                      <div>1 room × 4 nights incl. taxes</div>
                    </div>
                    <div class="priceInfo_saleRoomItemBox-priceBox-tripCoins__9sN6k">
                      Earn <span>THB 3,050.86</span> in Trip Coins
                    </div>
                  </div>
                </div>
                <div class="priceInfo_saleRoomItemBox-priceInfoBox-rightContent">
                  <div class="priceInfo_saleRoomItemBox-BookAndLoginButton__Vc_yI">
                    <button class="tripui-online-btn tripui-online-btn-middle tripui-online-btn-solid-primary  tripui-online-btn-block" type="button">
                      <div class="tripui-online-btn-content">
                        <span class="tripui-online-btn-content-children">Reserve</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="saleRoom_saleRoomItemBox-reservationNotesInfoBox__13uYU">
              <div class="saleRoom_saleRoomItemBox-reservationNotesInfo__1Z8tM">
                <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_premiumInfo__80Cez">
                  Best price with 
                  <span class="saleRoomItemBox-reservationNotesInfo_premiumTitle" style="font-weight: bold;">free cancellation</span>
                </div>
                <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomBox__oT10J">
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem__7KYPI">
                    <div>
                      <i class="smarticon u-icon u-icon-ic_new_nonbreakfast saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Breakfast for THB 942.00 (optional)
                    </div>
                    <i class="smarticon u-icon u-icon-ic_new_question_line saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_layerButton__aEsZh"></i>
                  </div>
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomHightLightItem__bF_tA">
                    <div>
                      <i class="smarticon u-icon u-icon-ic_new_freecancellation saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Free Cancellation<span class="" style="color: rgb(15, 41, 77);"> before 23:59, Dec 19</span>
                    </div>
                  </div>
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomHightLightItem__bF_tA">
                    <div>
                      <i class="smarticon u-icon u-icon-ic_new_quick saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Instant Confirmation
                    </div>
                  </div>
                  <div class="saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem__7KYPI">
                    <div>
                      <i class="smarticon u-icon u-icon-a-ic_payathome saleRoom_saleRoomItemBox-reservationNotesInfo_basicSaleRoomItem_icon__lZQah"></i>Pay at hotel
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>Sleeps 2</td>
          <td>
            <div class="saleRoom_saleRoomItemBox-priceInfoBox__YKNbL">
              <div class="priceInfo_saleRoomItemBox-priceInfoBox-mainContent__nmfMr">
                <div class="priceInfo_saleRoomItemBox-priceInfoBox-leftContent">
                  <div class="priceInfo_saleRoomItemBox-priceAndPromotion__UA46M">
                    <div class="priceInfo_saleRoomItemBox-priceBox__YdzUO">
                      <div class="priceInfo_saleRoomItemBox-priceBox-displayPrice__niIBD">THB 15,525</div>
                    </div>
                    <div class="priceInfo_saleRoomItemBox-priceBox-priceExplain__zF3oi">
                      <div>Total price: THB 73,092</div>
                      <div>1 room × 4 nights incl. taxes</div>
                    </div>
                    <div class="priceInfo_saleRoomItemBox-priceBox-tripCoins__9sN6k">
                      Earn <span>THB 1,754.50</span> in Trip Coins
                    </div>
                  </div>
                </div>
                <div class="priceInfo_saleRoomItemBox-priceInfoBox-rightContent">
                  <div class="priceInfo_saleRoomItemBox-BookAndLoginButton__Vc_yI">
                    <button class="tripui-online-btn tripui-online-btn-middle tripui-online-btn-solid-primary  tripui-online-btn-block" type="button">
                      <div class="tripui-online-btn-content">
                        <span class="tripui-online-btn-content-children">Reserve</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>