<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About Us and Terms</title>
		<link rel="stylesheet" href="/css/about-us.css">
	</head>
	<body>
		<div class="container">
            <div class="ccs-panel customer-service__main e-class-stru_3IM2Uly6DbzaTtD " id="">
                <style>.e-class-stru_JGcQkqxkpv8YD3x {--pl-max-width: 1180px;--pl-bra: 8px 8px 0 0px;}</style>
                
                <div id="basic" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section general fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy hKrOPg"><span class="sc-dcJsrY">Customer Support</span></div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg dneUKs"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">We are always here to help</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Our outstanding customer support is available 24/7. <br>
                                        Service channels: Phone, email, and online chat.</span>
                                    </div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy hSYxjq"><span class="sc-dcJsrY">Booking Services</span></div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">Special Circumstance Cancellation Service Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY"> Trip-day will then make every effort to assist the user in negotiating the cancellation of their trip. If a user is unable to travel due to unforeseeable medical conditions (e.g. death, pregnancy, broken bones, or hospitalization), they shall provide all supporting documents within one week of submitting their cancellation request.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg deRvSA"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">Emergency Assistance</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY"> Trip-day will provide 24/7 emergency service to ensure the trip goes smoothly. If the user experiences a loss of baggage or ID during the trip, or their trip is affected by accident or illness,  Trip-day will also endeavor to provide whatever assistance is necessary.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg gCNfqf"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">Advance Compensation</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY"> Trip-day practices a policy of providing advance compensation for all its businesses.  Trip-day will investigate any complaints raised by users and, if it is verified that  Trip-day is at fault, will provide compensation in advance.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hotels" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Hotels</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy ctxxZW"><span class="sc-dcJsrY">If your booking is changed after it is confirmed,  Trip-day will do its best to coordinate your stay.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 1:  Trip-day works with hotels to solve issue</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy eQDEQZ"><span class="sc-dcJsrY"> Trip-day will immediately notify you if, after a stay booking has been confirmed but before you arrive at the property, the property can no longer arrange check-in.  Trip-day will also work with the property to try to arrange a room of the same or higher standard as the original booked room.  Trip-day will compensate any difference in cost up to the price of the first night's room fee for the original booking.</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy dbyqgJ"><span class="sc-dcJsrY">If no room type in the original property can be arranged,  Trip-day will help arrange a stay at a nearby property of the same standard.  Trip-day will pay any incurred price differences up to a maximum of the rate for the first night for the original booking.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 2:  Trip-day pays compensation</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Once your claim has been verified,  Trip-day will contact you within one working day after you check out to process your compensation. Please keep hold of the invoice and any payment receipts for your stay.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg SHgtb"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy ctxxZW"><span class="sc-dcJsrY">If there is no room when you arrive at the property,  Trip-day will do its best to coordinate your stay.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 1: User contacts  Trip-day</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy dbyqgJ"><span class="sc-dcJsrY">If your booking has already been confirmed by  Trip-day, but there are no rooms available at the hotel when you arrive, please contact  Trip-day immediately.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 2:  Trip-day works with hotel to solve issue</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy eQDEQZ"><span class="sc-dcJsrY"> Trip-day will immediately contact the property to negotiate a room of the same standard or above for the user.  Trip-day will pay any difference in price up to the room rate for the first night of the original booking.</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy dbyqgJ"><span class="sc-dcJsrY">If no room type in the original property can be arranged,  Trip-day will help arrange a stay at a nearby property of the same standard.  Trip-day will pay any incurred price differences up to a maximum of the room rate for the first night of the original booking.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 3:  Trip-day pays compensation</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Once your claim has been verified,  Trip-day will contact you within one working day after you check out to process your compensation. Please keep hold of the invoice and any payment receipts for your stay.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI ddFGbZ">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy ctxxZW"><span class="sc-dcJsrY">Change and Cancellation Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy jGWPtL"><span class="sc-dcJsrY"> Trip-day does not earn profits from or add additional charges to change and cancellation fees. If you need to cancel your booking,  Trip-day will communicate with the hotel to try to reduce your cancellation charges as much as possible. </span></div>
                                    <style>.e-class-stru_WzNfjVU6ImvJO37 {--pl-bra: 8px;}</style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_WzNfjVU6ImvJO37 " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy bBxomN"><span class="sc-dcJsrY">Room Guarantee Terms &amp; Conditions</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fKzvia"><span class="sc-dcJsrY">1. If no rooms are available after you arrive at the hotel, please contact  Trip-day immediately. If you cannot contact  Trip-day and proceed to stay in another hotel, this will be seen as forfeiting your right to the Room Guarantee.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy kmSDPm"><span class="sc-dcJsrY">2. The Room Guarantee cannot be used in the following scenarios: </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">a. You do not arrive at the hotel by the arranged time.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">b. You changed booking information, such as room type or check-in/out dates, without getting confirmation from  Trip-day.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">c.  Trip-day or the hotel you originally booked has upgraded you to a room of the same standard or higher at no extra charge.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">d. After your booking is updated and a room is available, you do not check in for the updated booking or you are unable to provide authentic and valid proof of check-in, or the guest names, dates, or city on the proof you provide do not match the original booking.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">e. You cannot check in for your booking due to a force majeure, such as a fire, natural disaster, or government policy.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">f. Your booking has not been confirmed by  Trip-day by the time you arrive at the hotel. (Please refer to emails from  Trip-day to confirm whether your booking was successful). </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">g. Your booking is a prepaid booking and you have not completed payment. </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy bJWmkw"><span class="sc-dcJsrY">h. Bookings with transaction security issues: ( Trip-day will judge each case based on fair principles and transaction security)</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy bMHZwr"><span class="sc-dcJsrY">• The following types of booking are not eligible for the Room Guarantee: bookings involving system or network attacks, fake bookings, and resale bookings.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy bMHZwr"><span class="sc-dcJsrY">• The supplier reserves the right to require the user to provide a guarantee amount for bookings when there are issues or abnormalities with the user information, user account, or number of transactions. If the guarantee amount cannot be provided,  Trip-day reserves the right to cancel the user's booking on behalf of the supplier.</span></div>
                                    </div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI ddFGbZ">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy egjAVj"><span class="sc-dcJsrY">Flight-Hotel Cancellation Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If you are unable to arrive at the hotel on your check-in date because a flight you booked on  Trip-day was canceled or delayed due to a force majeure event,  Trip-day will cover your cancellation fees</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="flights" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Flights</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jRuEhS"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Price Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hEfvfm"><span class="sc-dcJsrY"> Trip-day guarantees that the price of your flight will not change after payment has been confirmed.<br>
                                        If your ticket is not issued after successful payment due to the fault of  Trip-day and the ticket price increases,  Trip-day will cover the difference.</span>
                                    </div>
                                    <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm"><span class="sc-dcJsrY"></span></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hMCQx"><span class="sc-dcJsrY">Once your tickets are issued,  Trip-day will do its best to guarantee your trip.<br>
                                        If you are unable to board the flight due to the fault of  Trip-day, please contact us immediately. We will provide compensation according to the circumstances. The maximum possible compensation is a refund of the cost of your original flight ticket, plus a free ticket for a replacement flight designated by  Trip-day.</span>
                                    </div>
                                    <style></style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_kSYLgsa2HiNoEEd " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Flight Price Guarantee and Booking Guarantee Terms &amp; Conditions</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm">
                                            <div><span class="sc-dcJsrY">1. Please contact  Trip-day immediately if you run into any problems while booking flight tickets. <br>If you make your own arrangements without contacting  Trip-day, or choose not to take a solution provided by  Trip-day, you forfeit your rights under  Trip-day’s Flight Price Guarantee and Booking Guarantee.<br><br></span><a class="sc-fqkvVR hKwbgF"></a><span class="sc-dcJsrY"></span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dnibcy"><span class="sc-dcJsrY">2. The Flight Price Guarantee and Booking Guarantee will not apply in any of the following circumstances:</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">a. Tickets were not issued due to unsuccessful payment.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">b. Tickets were not issued due to a flight schedule change.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">c. Any conditions which do not cause change from the original flight schedule.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">d. Failure to board a flight is due to the fault of the customer.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">e. The flight is departing within 2 hours of booking.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">f. Failure to board due to any conditions not caused by  Trip-day. This includes, but is not limited to, airline delays or cancellations, an issue with the airport, a Force Majeure Event, or any other causes or conditions not caused by  Trip-day.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">g. Please note that flight bookings with Ryanair do not qualify for any of the service guarantees provided by  Trip-day, including but not limited to Price Guarantee, Booking Guarantee, and advance compensation.</span></div>
                                    </div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg jkEcjh"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Flight + Hotel Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hEfvfm"><span class="sc-dcJsrY">For flight + hotel packages booked through our flights channel, you can cancel your hotel booking for free if you are unable to arrive at the hotel on the check-in date due to a flight change.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg iZRDTq"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Flight + Lounge Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">For flight + lounge packages booked through our flights channel, you can cancel your lounge booking for free within the validity period of the lounge if you are unable to use the lounge due to a flight change.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="trains" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Trains</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hMCQx"><span class="sc-dcJsrY">After successful payment is confirmed and tickets are issued,  Trip-day will do its utmost to guarantee your trip.<br>
                                        If a customer fails to board the train due to  Trip-day’s or one of our supplier’s fault,  Trip-day will do everything it can to solve the problem and cover any associated costs actually incurred in resolving the situation on a case-by-case basis.</span>
                                    </div>
                                    <style></style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_GoDIdNURNz4PWv7 " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy ihgPfd"><span class="sc-dcJsrY">Train Booking Guarantee Terms and Conditions</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy gATOvm"><span class="sc-dcJsrY">1. Please contact  Trip-day immediately if you have any problems. If you make your own arrangements without contacting  Trip-day, or choose not to accept a solution provided by  Trip-day, you forfeit your rights under  Trip-day’s Train Booking Guarantee.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm"><span class="sc-dcJsrY">2. The guarantee will not apply in the following circumstances:<br>
                                            &nbsp;&nbsp;&nbsp;a. Failure to board a train is due to the fault of the customer.<br>
                                            &nbsp;&nbsp;&nbsp;b. Failure to board a train is due to any conditions not caused by  Trip-day, which includes train delays or cancellations, a force majeure event, or any other conditions or circumstances not caused by  Trip-day.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="carhire" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Car Rentals</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee - unavailable after booking confirmed</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">After you have paid for your booking but before you have used your car, if the car rental supplier reaches out to tell you they cannot provide services,  Trip-day will work hard to coordinate a car for you. If it is finally confirmed that no car can be provided,  Trip-day will provide the corresponding compensation, up to a limit of the average daily rental price for the original booking. (Average daily rental price: the average rental amount for days within the rental period, not including promo code amounts.)</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg elawbN"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Booking Guarantee - unavailable upon arrival</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If the car in your booking is not available after  you arrive at the branch, you can contact  Trip-day customer support as soon as possible.  Trip-day will help coordinate for you. If, finally, service cannot be provided,  Trip-day will provide you with the average daily rental price amount for your original booking as compensation.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg dPftkq"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Booking Guarantee -  car model downgrade</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If, after you arrive at the branch, the car you are provided with is of a lower standard to the one you booked, you can contact  Trip-day customer support as soon as possible.  Trip-day will negotiate with the supplier in your booking to try and get a free car model upgrade. If a free upgrade is not possible, the price difference will be refunded (up to a limit of 3 times the daily average rental price). Corresponding compensation will also be provided up to a limit of the daily average rental price.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg epwVYj"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY"> Trip-day Transport and Car Rental Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If you've booked car rental services as part of the same itinerary as flights, trains, or bus or coach tickets on  Trip-day, in the event of any travel delays to your flight, train, bus or coach, you can contact your supplier or contact  Trip-day to negotiate your car rental time. Your supplier will keep your car for you free of charge for a limited time during business hours. For the actual free holding time, please refer to the answer provided by the branch. If your car rental issues are not resolved or additional costs are incurred, we recommend that you keep the relevant proof and contact  Trip-day customer support to handle the issue. If flights, trains, buses, coaches, or other transport types are canceled due to reasons beyond the customer's control and the use of car rental services is affected, car rental services can be canceled free of charge. Any cancellation costs or losses will be covered by  Trip-day.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ttd" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy dTCpJs"><span class="sc-dcJsrY">Attractions &amp; Tours</span></div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If you cannot use your entrance ticket due to a fault by  Trip-day and the issue cannot be solved within 15 minutes of being reported to  Trip-day, you can purchase tickets at the attraction. The cost of the ticket you originally bought with  Trip-day will be refunded to you, and  Trip-day will also compensate you twice the amount of any difference in price between the  Trip-day ticket and the price charged at the entrance.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Cancellation of tickets booked by mistake by seniors and children</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy gzknnC"><span class="sc-dcJsrY">When seniors and children book tickets by mistake through  Trip-day's Attractions &amp; Tours section, any cancellation fee incurred will be borne by  Trip-day.</span></div>
                                    <style></style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_190612hLeIa2KrY " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Notes:</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy gATOvm"><span class="sc-dcJsrY"> 1) The request to cancel the original ticket must be submitted before the entry date (inclusive), the original ticket must be unused, and a new ticket with the correct ticket type for the same attraction and entry date must have already been booked on  Trip-day. </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm"><span class="sc-dcJsrY">2) Cancellations of tickets booked by mistake are limited to main entrance tickets.</span></div>
                                    </div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg hEwMTa"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Accurate Descriptions</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">We guarantee that all of our tour and ticket descriptions are accurate and valid. If you find a discrepancy between the information listed on our website and what the actual tour or ticket includes, please contact  Trip-day customer support.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>