/* public/styles/brand.css */
.brand-wrapper {
    display: flex;
    height: 134px;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 1160px;
  }
  
  .brand-input-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    
  }
  
  .brand-divider {
    border: 0;
    border-top: 1px solid #ccc;
    width: 100%; /* 구분선이 전체 너비를 차지하도록 설정 */
    margin: 0; /* 구분선의 마진을 제거 */
    position: absolute;
    top: 0;
  }
  
  .mc-ft_brand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mc-ft_brand img {
    margin-bottom: 10px;
  }
  
  .mc-ft_brand-list {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .mc-ft_brand-title {
    font-size: 14px;
    color: #333;
  }
  